.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.595);
    z-index: 1;
}

.modal {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    z-index: 1;
    overflow-y: hidden;
}