.gameRow {
    margin: 1% auto;
    padding: .1% 1%;
    box-shadow: 0 2px 2px 1px;
    background-color: rgb(255, 255, 255);
}

.gameRow p,
.gameRow button,
.gameRow a{
    font-size: small;
}

.gameRow p{
    width: 25%;
}

.gameRow a,
.gameRow button {
    width: 10%;
}

.baseContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
