.gameRow {
    margin: 1% auto;
    padding: 1%;
    box-shadow: 0 2px 2px 1px;
    background-color: rgb(159, 159, 159);
}

.baseContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expandedContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineBreak {
    border: 1px solid rgba(3, 3, 3, 0.214);
    margin: 1%;
}
.image {
    max-width: 5rem;
    max-height: 5rem;
}

.buttonsRow {
    margin: 1%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.buttonsRow a {
    border: 1px black solid;
    background-color: rgb(230, 230, 230);
}

.button {
    padding: .5%;
    font-weight: bold;
    font-size: large;
    margin: 1%;
    margin-bottom: 0
}

.updates {
    margin-top: 1%;
    text-align: center;
}
.notStarted {
    border: 1px solid rgb(18, 18, 18);
    color: rgb(31, 31, 31);
}

.inProgress {
    border: 1px solid rgb(236, 213, 0);
    color: rgb(236, 213, 0);
}

.firstImpression {
    border: 1px solid rgb(203, 120, 12);
    color: rgb(203, 120, 12);
}

.played {
    border: 1px solid rgb(152, 213, 10);
    color: rgb(152, 213, 10);
}

.finished {
    border: 1px solid rgb(6, 249, 11);
    color: rgb(6, 249, 11);
}

.completed {
    border: 1px solid rgb(217, 0, 255);
    color: rgb(217, 0, 255);
}

.onHold {
    border: 1px solid rgb(216, 15, 126);
    color: rgb(216, 15, 126);
}

.dropped {
    border: 1px solid rgb(213, 7, 7);
    color: rgb(213, 7, 7);
}

.cantFinish {
    border: 1px solid rgb(7, 175, 144);
    color: rgb(7, 175, 144);
}

.na {
    border: 1px solid rgb(67, 9, 174);
    color: rgb(67, 9, 174);
}

.unknown {
    border: 1px solid rgb(0, 181, 241);
    color: rgb(0, 181, 241);
}