:root {
  --background: #e6e4e4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #e2e2e2;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  text-align: center;
  margin: 5%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Not started section */
.notStarted,
.notStarted {
  border: 1px solid rgb(18, 18, 18);
  color: rgb(31, 31, 31);
}

.notStarted button,
.notStarted a {
  border: none;
  color: rgb(18, 18, 18);
  background-color: white;
  font-size: medium;
}

.notStarted button:hover,
.notStarted a:hover {
  background-color: rgb(18, 18, 18);
  color: white;
}

.notStarted button:active,
.notStarted a:active {
  color: rgb(18, 18, 18);
}

/* In Progress section*/
.inProgress {
  border: 1px solid rgb(236, 213, 0);
  color: rgb(236, 213, 0);
}

.inProgress button,
.inProgress a {
  border: none;
  color: rgb(236, 213, 0);
  background-color: white;
  font-size: medium;
}

.inProgress button:hover,
.inProgress a:hover {
  background-color: rgb(236, 213, 0);
  color: white;
}

.inProgress button:active,
.inProgress a:active {
  color: rgb(236, 213, 0);
}

/* First Impression section */
.firstImpression {
  border: 1px solid rgb(203, 120, 12);
  color: rgb(203, 120, 12);
}

.firstImpression button,
.firstImpression a {
  border: none;
  color: rgb(203, 120, 12);
  background-color: white;
  font-size: medium;
}

.firstImpression button:hover,
.firstImpression a:hover {
  background-color: rgb(203, 120, 12);
  color: white;
}

.firstImpression button:active,
.firstImpression a:active {
  color: rgb(203, 120, 12);
}

/*Played section */
.played {
  border: 1px solid rgb(152, 213, 10);
  color: rgb(152, 213, 10);
}

.played button,
.played a {
  border: none;
  color: rgb(152, 213, 10);
  background-color: white;
  font-size: medium;
}

.played button:hover,
.played a:hover {
  background-color: rgb(152, 213, 10);
  color: white;
}

.played button:active,
.played a:active {
  color: rgb(152, 213, 10);
}

/* Finished */
.finished {
  border: 1px solid rgb(6, 249, 11);
  color: rgb(6, 249, 11);
}

.finished button,
.finished a {
  border: none;
  color: rgb(6, 249, 11);
  background-color: white;
  font-size: medium;
}

.finished button:hover,
.finished a:hover {
  background-color: rgb(6, 249, 11);
  color: white;
}

.finished button:active,
.finished a:active {
  color: rgb(6, 249, 11);
}

/* Completed section */
.completed {
  border: 1px solid rgb(217, 0, 255);
  color: rgb(217, 0, 255);
}

.completed button,
.completed a {
  border: none;
  color: rgb(217, 0, 255);
  background-color: white;
  font-size: medium;
}

.completed button:hover,
.completed a:hover {
  background-color: rgb(217, 0, 255);
  color: white;
}

.completed button:active,
.completed a:active {
  color: rgb(217, 0, 255);
}

/*On Hold Section */
.onHold {
  border: 1px solid rgb(216, 15, 126);
  color: rgb(216, 15, 126);
}

.onHold button,
.onHold a {
  border: none;
  color: rgb(216, 15, 126);
  background-color: white;
  font-size: medium;
}

.onHold button:hover,
.onHold a:hover {
  background-color: rgb(216, 15, 126);
  color: white;
}

.onHold button:active,
.onHold a:active {
  color: rgb(216, 15, 126);
}

/*Dropped Section */
.dropped {
  border: 1px solid rgb(213, 7, 7);
  color: rgb(213, 7, 7);
}

.dropped button,
.dropped a {
  border: none;
  color: rgb(213, 7, 7);
  background-color: white;
  font-size: medium;
}

.dropped button:hover,
.dropped a:hover {
  background-color: rgb(213, 7, 7);
  color: white;
}

.dropped button:active,
.dropped a:active {
  color: rgb(213, 7, 7);
}

/*Can't Finish Section */
.cantFinish {
  border: 1px solid rgb(7, 175, 144);
  color: rgb(7, 175, 144);
}

.cantFinish button,
.cantFinish a {
  border: none;
  color: rgb(7, 175, 144);
  background-color: white;
  font-size: medium;
}

.cantFinish button:hover,
.cantFinish a:hover {
  background-color: rgb(7, 175, 144);
  color: white;
}

.cantFinish button:active,
.cantFinish a:active {
  color: rgb(203, 120, 12);
}

/* N/A Section */
.na {
  border: 1px solid rgb(67, 9, 174);
  color: rgb(67, 9, 174);
}

.na button,
.na a {
  border: none;
  color: rgb(67, 9, 174);
  background-color: white;
  font-size: medium;
}

.na button:hover,
.na a:hover {
  background-color: rgb(67, 9, 174);
  color:white;
}

.na button:active,
.na a:active {
  color: rgb(67, 9, 174);
}

/* Unknown Section */
.unknown {
  border: 1px solid rgb(0, 181, 241);
  color: rgb(0, 181, 241);
}

.unknown button,
.unknown a {
  border: none;
  color: rgb(0, 181, 241);
  background-color: white;
  font-size: medium;
}

.unknown button:hover,
.unknown a:hover {
  background-color: rgb(0, 181, 241);
  color: white;
}

.unknown button:active,
.unknown a:active {
  color: rgb(0, 181, 241);
}