.legend {
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    font-size: small;
    width: 60%;
    margin-right: 20%;
    list-style-type: none;
}

.legend li {
    background-color: rgb(255, 255, 255);
    padding: 3px;
}