.notStarted {
    color: rgb(52, 51, 51);
}

.inProgress {
    color: rgb(236, 213, 0);
}

.firstImpression {
    color: rgb(203, 120, 12);
}

.played {
    color: rgb(152, 213, 10);
}

.finished {
    color: rgb(6, 249, 11);
}

.completed {
    color: rgb(217, 0, 255);
}

.onHold {
    color: rgb(216, 15, 126);
}

.dropped {
    color: rgb(213, 7, 7);
}

.cantFinish {
    color: rgb(7, 175, 144);
}

.na {
    color: rgb(67, 9, 174);
}

.unknown {
    color: rgb(0, 181, 241);
}