.h1 {
    margin: auto;
    padding: 2%;
    color: rgb(188, 11, 232);
}

.form {
    margin: auto;
    background-color: #444444;
}

.formButton {
    margin: 2%;
    text-align: center;
    padding: 1%;
}

.container {
    text-align: center;
}

.formDropdown {
    margin-top: 2%;
    margin-left: 1%;
    width: 20%;
    padding: .5%;
}

.formInput {
    margin-top: 2%;
    margin-left: 1%;
    width: 40%;
    padding: .5%;
}

.formDatePicker {
    margin-top: 2%;
    margin-left: 1%;
    width: 20%;
    padding: .5%;
}

.formTextbox {
    margin-top: 2%;
    margin-left: 1%;
    width: 40%;
    padding: .5%;
}

.container label {
    color: rgb(188, 11, 232);
}

